<div class="presentation">
   <div class="background">
     <img src="../../../assets/background/background.png" alt="Background Image" id="backgroundImage" preload>
   </div>

<div class="intro" data-aos="fade-down" data-aos-duration="1500">
   <img src="../../../assets/logos/logo.png" id="logo" >
<h2 >
   National Robotics Congress in Tunisia
</h2>
<div class="row intels" >
   <div class="info col"><img src="../../../assets/icons/calendar.png"><p>Summer 2024</p></div>
   <div class="info col"><img src="../../../assets/icons/location.png"><p> To Be Announced</p></div>
</div>
<p style="font-size: 1.5em; color: white;">Pre-Registration will be open soon</p>
  
    <!-- <p class="counter count overlay" >{{demo}}<br>Till take off</p> -->
</div>
<div  class="block"  style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.041), rgb(26, 4, 20)),
url(../../../assets/club-pictures/ras.png) ;    background-size: contain;" >
   <div class="content" >
      <p class="counter" data-aos-duration="1000" data-aos="fade-right" > About RAS INSAT</p>
      <div class="def" data-aos-duration="1500" data-aos="fade-right">
         <span>IEEE RAS INSAT</span> is one of the most active in Tunisia providing activities for about 200 members and playing a vital role at INSAT ecosystem by:
         <ul>
             <li>Organizing <strong>THE ONLY</strong> robotics congress in Tunisia: <strong>National Robotics Weekend</strong></li>
             <li>Representing Tunisia Yearly in <strong>EUROBOT</strong> since 2022</li>
             <li>Organizing <strong>RAS ODYSSEY</strong>, a Program to Teach 100 students embedded systems, robotics, and AI in 5 Sessions for each domain.</li>
             <li>Organizing <strong>BOTCAMP</strong>, <strong>THE ONLY NDT</strong> Hackathon in Tunisia</li>
             <li>Educating members and enthusiasts weekly about robotics, embedded, and IOT</li>
         </ul>
         <button type="button" class="btn btn-outline"><a href="https://ras-insat.ieee.tn">Explore more</a></button>
     </div>
   </div>
</div>
<div  class="block" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.041), rgb(26, 4, 20)),
url(../../../assets/club-pictures/nrw.png) ;    background-size: contain;">
   <div class="content">
<p class="counter" data-aos="fade-left" data-aos-duration="1000" > What is NRW?</p>
<p class="def" data-aos="fade-left" data-aos-duration="1500" ><span>National Robotics weekend</span>
   organized annually in June by IEEE RAS INSAT in Tunis, Tunisia, is the ONLY robotics congress in the country, attracting about 350 students. This premier event serves as a vibrant platform for future engineers from Tunisia, offering them an exceptional opportunity to engage in a wide array of activities. Participants can choose to compete in various challenges and competitions, or they can take advantage of cutting-edge workshops and insightful keynotes. NRW aims to bring together the robotics community, fostering new relationships, strengthening the spirit of innovation and challenge, and promoting skills in various technological fields.</p>
   </div>
   </div>

   
<!-- Speakers section -->
<div class="block speakers-section">
   <p class="counter" data-aos="fade-right" data-aos-duration="1000">Speakers</p>
   <div class="row" data-aos="fade-right" data-aos-duration="1500">
     <div class="speaker col-sm">
       <img src="../../../assets/speakers/jim.jpg" alt="Jim Schmiedeler">
       <p>Jim Schmiedeler</p>
     </div>
     <div class="speaker col-sm">
       <img src="../../../assets/speakers/koubaa.jpg" alt="Anis Koubaa">
       <p>Anis Koubaa</p>
     </div>
     <div class="speaker col-sm">
       <img src="../../../assets/speakers/mohamed_abdel.jpg" alt="Dr. Mohamed Abdelkader">
       <p>Dr. Mohamed Abdelkader</p>
     </div>
     <div class="speaker col-sm">
       <img src="../../../assets/speakers/oussama_chelly.jpg" alt="Oussama Chelly">
       <p>Oussama Chelly</p>
     </div>
     <div class="speaker col-sm">
       <img src="../../../assets/speakers/firas_ben_hassan.jpg" alt="Firas Ben Hassan">
       <p>Firas Ben Hassan</p>
     </div>
   </div>
   <button type="button" class="btn btn-outline" routerLink="/speakers">View All Speakers</button>
 </div>

   <div class="block">
      <p class="counter" data-aos="fade-right" data-aos-duration="1000">Our last edition : NRW 5.0</p>
      <div class="row" data-aos="fade-right" data-aos-duration="1500">
         <div class="element col-sm"><img src="../../../assets/icons/conference.png"><p>4 CONFERENCES </p></div>      
         <div class="element col-sm"> <img src="../../../assets/icons/enterprise.png"><p> 8 <br>COMPANIES</p></div>
         <div class="element col-sm"> <img src="../../../assets/icons/support.png"><p>+300 PARTICIPANTS </p></div>
         <div class="element col-sm"> <img src="../../../assets/icons/workshop.png"><p>8 <br> WORKSHOPS </p></div>
      </div>
   </div>
</div>