<div class="main">
<div class="overlap">
    <img src="../../../assets/background/Hackathon/1.jpg">
    <div class="text" >
  <p class="def" data-aos-duration="1500" data-aos="fade-right" > <span>About NRW 3.0 Hackathon</span> <br>The hackathon is a competition that gathers many participants into small teams and challenges them through several conditions and specifications. Last edition’s hackathon was, a 36 hours competition, in partnership with TELNET and under the patronage of the ministry of logistics and transport that puts to test the participants abilities and skills in the fields of IOT and robotics, which were used to solve a real-life problem in the transport field. And as a reward, the winners were offered up to 5000dt in total.
   
     </p>
     </div>
</div>
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="main-timeline">
              <div class="timeline">
                <a href="#" class="timeline-content">
                  <span class="timeline-year">2018</span>
                  <div class="timeline-icon">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">Web Development</h3>
                    <p class="description">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                  </div>
                </a>
              </div>
              <div class="timeline">
                <a href="#" class="timeline-content">
                  <span class="timeline-year">2017</span>
                  <div class="timeline-icon">
                    <i class="fa fa-users" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">JavaScript</h3>
                    <p class="description">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                  </div>
                </a>
              </div>
              <div class="timeline">
                <a href="#" class="timeline-content">
                  <span class="timeline-year">2017</span>
                  <div class="timeline-icon">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">Mongo DB</h3>
                    <p class="description">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                  </div>
                </a>
              </div>
              <div class="timeline">
                <a href="#" class="timeline-content">
                  <span class="timeline-year">2017</span>
                  <div class="timeline-icon">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">BlackPearl</h3>
                    <p class="description">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                  </div>
                </a>
              </div>
              <div class="timeline">
                <a href="#" class="timeline-content">
                  <span class="timeline-year">2017</span>
                  <div class="timeline-icon">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                  </div>
                  <div class="content">
                    <h3 class="title">Angular</h3>
                    <p class="description">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </p>
                  </div>
                </a>
              </div>
            
    
            </div>
          </div>
        </div>
      </div>    
</div>
