@import "../../../assets/color-palette.scss";



nav{
    background-color: $dark-purple;
}
a{
    font-size: 15px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.904);
}
a:hover,.is-active{
    color: $pink;
}
button span{
    color:white;
}
button,button:focus,button:active,button:hover{
border: none;
background: none;
}
.axe{
right: 0;
display: flex;
}
img{
    
    width: 120px;
    margin-right: 50px;
}
.links{
    margin-right:5%;
}
.navbar-nav * {
    margin-left: 10px;
    margin-right: 10px;
}
i{
    color: aliceblue;
}
.navbar-toggler button:active{
    border-color: none;
}
.navbar-toggler,.navbar-toggler:focus,.navbar-toggler:active{
    border-color: none;
}